<div class="container">
  <img
  id="background-img"
  src="assets/images/backgrounds/bc1.png">
  <div class="story-container">
    <div class="book-container">
      <div class="card" data-aos="aos-book">
        <div class="page" id="cover" data-aos="aos-page">
          <img src="assets/images/jpg/cover.jpg" alt="" />
          <img src="assets/images/jpg/back.jpg" alt="" />
        </div>

        <div class="content">
          <img [src]="contentImage" alt="" />
        </div>
      </div>
    </div>

    <div class="textbook" data-aos="fade-zoom-in"
    data-aos-easing="ease-in"
    data-aos-delay="300"
    data-aos-offset="0">
    <span>
      <h1>una niña cuyo corazón iluminó la vida de quienes la rodeaba.</h1>
    </span>
  </div>
</div>
</div>

