<div class="container">

  <section class="rnOuter ">
    <section class="aoTable">
      <div class="text-curtain-container">
          <h1>Erase una vez</h1>

      </div>
    </section>

    <div class="rnInner">


      <div class='rnInnerLeft'>

        <div class='rnUnit' id="left"></div>
        <div class='rnUnit' id="left"></div>
        <div class='rnUnit' id="left"></div>

      </div>


      <div class='rnInnerRight'>
        <div class='rnUnit' id="right"></div>
        <div class='rnUnit' id="right"></div>
        <div class='rnUnit' id="right"></div>


      </div>
    </div>




  </section>


</div>
